.*
/hadoop/bin/*
/hadoop/build/*
/hadoop/logs/*
/hadoop/c++/*
/hadoop/contrib/*
/hadoop/*.jar
/hadoop/ivy/*
/hadoop/lib/*
/hadoop/libexec/*
/hadoop/share/*
/hadoop/src/*
/hadoop/sbin/*
/hadoop/webapps/*
/nutch2/*.tar.gz
/nutch2/apache-nutch-1.10
/nutch2/build/*
/nutch2/ivy/*
/nutch2/docs/*
/nutch2/lib/*
/nutch2/src/*
/nutch2/runtime/local/*
/nutch2/runtime/deploy/apache-nutch-1.10.job
!/.gitignore
